.container {  
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }

  main {
    background: whitesmoke;
    color: #444;
    padding: 1rem;
  }
